@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    border: none;
}

.nav-wrapper{
    background-color: #5D1049 !important;
    color: white !important;
}

 .login{
    width: 40% !important;
    margin-left: 30% !important;
}


.btn{
  width: 100%!important;
}

.introtext{
    margin-top: 8%;
    margin-bottom: 8%;
}


.signup{
    width: 60% !important;
    margin-left: 20% !important;
    margin-top: 12% !important;
}