@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    border: none;
}

.nav-wrapper{
    background-color: #5D1049 !important;
    color: white !important;
}

 .login{
    width: 50% !important;
    margin-left: 25% !important;
}


.sgnup-btn, .lgn-btn{
  width: 100%!important;
  background-color: #5D1049 !important;
}

.introtext{
    margin-top: 8%;
    margin-bottom: 8%;
}


.signup{
    width: 60% !important;
    margin-left: 20% !important;
    margin-top: 12% !important;
}

.text-card{
    width: 70% !important;
    margin-left: 15% !important;
}

.save-btn{
    background-color: #5D1049 !important;
}


.input-field{
    margin-top: 20px;
}
